.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  
  
  .default {
    background-color: $color1;
    &:hover {
      @include button($color1);
    }    
  }
  
  .error {
    background-color: #e4757a;
    &:hover {
      @include button(#e4757a);
    }
  }
  
  .info {
    background-color: #927bc1;
    &:hover {
      @include button(#927bc1);
    }
  }
  
  .success {
    background-color: #63cc82;
    &:hover {
      @include button(#63cc82);
    }
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {
      @include button(#fd7856);
    }
  }